include ./layout
block content
	div.container
		div.rows
		.jumbotron
			div.col-lg-10
			form.form-inline
						input.form-control#searchId(type="text" , placeholder="Seach ID")
						button.btn.btn-default#infosearch(type="submit") Search
						|&nbsp
						|&nbsp
						|&nbsp
						button.btn.btn-success#inforeload 更新平时成绩
			table.table.table-bordered.table-hover
					tr
						th id
						th name
						th as score 
						th final score
						th grade
					tbody#infoContainer
						each item in result
							tr
								td #{item.stu_id}
								td #{item.username}
								td #{item.as_score}
								td #{item.final_score}
								td #{item.grade}
	script(src="/javascripts/adminpanel.js")
