include ./layout
block content
	div.container
		div.rows
		.jumbotron
			div.col-lg-10
			form.form-inline
						input.form-control#searchId(type="text" , placeholder="Seach ID")
						button.btn.btn-default#labssearch(type="submit") Search
			table.table.table-bordered.table-hover
					tr
						th id
						th name
						th labA
						th labB
						th labC
						th labD
						th labE
						th score
						th Edit
					tbody#infoContainer
						each item in result
							tr
								td #{item.stu_id}
								td #{item.username}
								td #{item.labA}
								td #{item.labB}
								td #{item.labC}
								td #{item.labD}
								td #{item.labE}
								td #{item.score}
								td
									a.btn.btn-primary#editlabs(data-id="#{item.stu_id}", data-name="#{item.username}", labA="#{item.labA}", labB="#{item.labB}", labC="#{item.labC}", labD="#{item.labD}", labE="#{item.labE}") edit
	script(src="/javascripts/adminpanel.js")
