include ./layout
block content
  div.container 
    div.rows 
      div.col-lg-10 
      table.table.table-vordered.table-hover
        tr
          th course_id
          th course_name
          th 平时成绩
          th 考试成绩
          th 总分
        tbody#info
          each item in result
            tr
              td #{item.id}
              td #{item.name}
              td #{item.as_score}
              td #{item.final_score}
              td #{item.grade} 
